canvas {
  border: 1px solid black;
  display: block;
  background-image: url("https://i.imgur.com/XVyOjbm.jpg");

}
body {
  margin: 0
}

html{

  background: url('https://i.imgur.com/EGdby9z.jpg') no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 300px;
  min-width: 300px;
}

.button-container{
  display: flex;
  justify-content: center;
  /* position: absolute;
  z-index: 100;
  bottom: 300px;
  left: 300px; */

}

#start{
}

.canvas-container{
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  margin-top: 100px;
  /* height: 100vh; */
}

.hideStart{
  visibility: hidden;
}

.pauseGame{
  animation-play-state: paused;
}
