canvas {

  border: 4px groove rgb(114, 70, 222);
  display: block;
  background-image: url("https://i.imgur.com/XVyOjbm.jpg");

}
body {
  margin: 0
}

html{

  /* background: url('https://i.imgur.com/EGdby9z.jpg') no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; */
  background: rgb(6, 2, 1);
  background-size: cover;
  min-height: 300px;
  min-width: 300px;
}

.button-container{
  display: flex;
  justify-content: center;
  align-items: initial;
  /* position: absolute;
  z-index: 100;
  bottom: 300px;
  left: 300px; */

}

#start{
}

.canvas-container{
  justify-content: space-around;
  align-items: flex-start;
  display: flex;
  width: 100%;
  margin-top: 200px;
  /* height: 100vh; */
}

.hideStart{
  visibility: hidden;
}

.dir-container{
  display: flex;
  align-content: flex-start;
  min-height: 200px;
}

.score-container{
  display: flex;
}

.directions{
  font-family: 'Varela Round', sans-serif;
  background: rgb(101, 111, 130);
  width: 250px;
}

.arrow-pic{
  max-width: 100%;
  max-height: 100%;
}

.score{
  width: 250px;
}

ul, li, ol{
  /* margin: 5px; */
  padding-left: 20px;
  padding-right: 15px;
}

li{
  text-indent: -25px;
}

h1 {
  color: white;
}
